/* Стили для компонента PayPage */
.m-4 {
    width: 100%;
    height: 100%;
  background-image: url("https://png.pngtree.com/background/20230607/original/pngtree-hd-wallpaper-forest-scenery-mountains-mountain-wallpaper-picture-image_2903512.jpg");
  background-repeat: no-repeat;
}
.credit-card {
  max-width: 420px;
  margin-top: 3rem;
}

/* Стили для header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Стили для front и back карточки */
.front,
.back {
  position: relative;
  display: none;
}

.front img,
.back img {
  width: 100%;
  height: auto;
}

/* Остальные стили для вашего компонента */
